<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">

<head>
    <title>Szablony szkoleń</title>
</head>

<body>

<div layout:fragment="admin-content" class="container">

    <h2>
        <span>Szablony szkoleń</span>
        <a href="/admin/szablony/dodaj" title="Dodaj szablon"><i class="fa fa-plus"></i></a>
    </h2>

    <table class="table table-hover">
        <tbody>
        <tr th:each="template: ${templates}" class="clickable-row" th:data-href="'/admin/szablony/' + ${template.id}">
            <td>
                <a th:href="'/admin/szablony/' + ${template.id}"
                   th:text="${template.name}"></a>
            </td>
        </tr>

        </tbody>
    </table>

    <div th:replace="~{fragments/scripts :: clickable-row}"></div>

</div>

</body>
</html>