<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<body>
<div layout:fragment="admin-content" class="container">

    <h2>Strony</h2>
    <a href="/admin/strony/dodaj">Dodaj nową strone</a>

    <table class="table">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Url</th>
            <th>Edycja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page: ${pages}">
            <td th:text="${page.title}"></td>
            <td th:text="${page.url}"></td>
            <td>
                <a th:href="'/admin/strony/' + ${page.id} + '/edytuj'">
                    <button class="btn btn-primary px-3 m-0">
                        <i class="fa fa-edit"></i> Edytuj
                    </button>
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>