<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">

<head>
    <title>Lekcja</title>
</head>

<body>

<div layout:fragment="admin-content" class="container">

    <h3>Dodawanie lekcji</h3>

    <form method="post" th:action="@{/admin/lekcje/dodaj}" th:object="${lesson}">
        <input type="hidden" th:field="*{trainingId}"/>
        <div class="form-row">
            <label for="title">Tytuł</label>
            <input type="text" id="title" class="form-control" th:field="*{title}"/>
        </div>
        <div class="form-row">
            <label for="number">Numer</label>
            <input type="text" id="number" class="form-control" th:field="*{number}"/>
        </div>
        <div class="form-row">
            <label for="lessonDate">Data zajęć</label>
            <input type="date" id="lessonDate" class="form-control" th:field="*{lessonDate}"/>
        </div>

        <div class="form-row">
            <label>Tematy</label>
        </div>

        Filtrowanie: <input type="text" id="filter-input"/>
        <i class="fas fa-lg fa-trash" id="clear_search" style="cursor: pointer"></i>

        <table class="table table-hover" id="mytable">
            <tr th:each="topic: ${topics}" th:data-href="${topic.id}" class="clickable-row">
                <td><input type="checkbox" name="topicIds" th:id="|id_${topic.id}|" th:value="${topic.id}" class="prevent_default_checkbox"/></td>
                <td th:text="${topic.title}"></td>
            </tr>
        </table>

        <button class="btn btn-primary" type="submit">
            <span>Dodaj</span>
        </button>
    </form>

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function ($) {
                $(".clickable-row").click(function () {
                    checkbox = $("#id_" + $(this).data("href"));
                    checkbox.prop("checked", !checkbox.prop("checked"));
                });
                $('#filter-input').keyup(function(event) {
                    var value = $(this).val().toLowerCase();
                    $("#mytable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
                $('.prevent_default_checkbox').change(function (event) {
                    event.target.checked = !event.target.checked;
                });
                $("#clear_search").click(function() {
                    inputField = $("#filter-input");
                    inputField.val('');
                    inputField.keyup();
                })
            });
        })(jQuery);
    </script>

    <div th:replace="~{fragments/scripts :: filtering}"></div>

</div>


</body>
</html>