<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">

<head>
    <title>Edycja zadania w lekcji</title>
</head>

<body>

<div layout:fragment="admin-content" class="container">

    <a th:href="|/admin/zadania/${lessonExercise.task.id}/edytuj|">
        <i class="fa fa-edit"></i>
        Edytuj definicję zadania (treść, rozwiązanie)
    </a>

    <h3>Edycja zadania w lekcji</h3>

    <form method="post" th:action="@{'/admin/lekcje/cwiczenia/edytuj'}" th:object="${lessonExercise}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{lesson}"/>
        <input type="hidden" th:field="*{task}"/>

        <div class="form-row">
            <label for="number">Numer</label>
            <input type="number" id="number" class="form-control" th:field="*{number}"/>
        </div>

        <button class="btn btn-primary" type="submit">
            Zapisz zmiany
        </button>

    </form>

</div>


</body>
</html>