<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account}">
<head>
    <title>Umowa podpisana</title>
</head>
<body>
<div layout:fragment="account-content" class="container my-5">

    <div style="margin: 140px auto; width: 600px; text-align: center">
        <h2>Umowa podpisana</h2>
        <p>Dziękujemy za podpisanie umowy. Za chwilę podeślemy na maila potwierdzenie oraz dane do wpłaty zadatku.</p>
    </div>

</div>
</body>
</html>