<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Reset hasła | Bootcamp JavaStart</title>
    <meta property="og:title" content="Reset hasła | Bootcamp JavaStart" />
    <meta name="twitter:title" content="Reset hasła | Bootcamp JavaStart" />

    <meta name="description" content="Resetowanie hasła do konta. Tutaj możesz zresetować hasło jeśli zostało zapomniane. Wyślemy link na maila, który umożliwi zmianę hasła." />
    <meta property="og:description" content="Resetowanie hasła do konta. Tutaj możesz zresetować hasło jeśli zostało zapomniane. Wyślemy link na maila, który umożliwi zmianę hasła."/>
    <meta name="twitter:description" content="Resetowanie hasła do konta. Tutaj możesz zresetować hasło jeśli zostało zapomniane. Wyślemy link na maila, który umożliwi zmianę hasła."/>

    <meta property="og:url" th:content="|${currentDomain}/reset-hasla|"/>
    <link rel="canonical" th:href="|${currentDomain}/reset-hasla|"/>
</head>
<body>
<div layout:fragment="content" class="container my-2">

    <form th:action="@{/reset-hasla}" method="post" class="text-center border border-light p-5">

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Konto z takim adresem email nie istnieje.
        </div>

        <h1 class="h2 mb-4">Reset hasła</h1>

        <p>Podaj Twój adres email, podeślemy na niego link do resetu hasła</p>

        <!-- Email -->
        <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">

        <!-- Sign in button -->
        <button class="btn btn-primary btn-block mt-4" type="submit">Resetuj</button>

    </form>

</div>
</body>
</html>
