<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Reset hasła</title>
</head>
<body>
<div layout:fragment="content" class="container my-2">

    <form th:action="@{/reset-hasla-koniec}" method="post" class="text-center border border-light p-5">

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Błąd podczas resetowania hasła. Upewnij się, że podajesz takie same hasła.
        </div>

        <p class="h4 mb-4">Reset hasła</p>
        <input type="hidden" th:value="${param.key}" name="key" />
        <input type="password" name="password" class="form-control mb-4" placeholder="Hasło" required>
        <input type="password" name="passwordRepeat" class="form-control mb-4" placeholder="Powtórz hasło" required>

        <!-- Sign in button -->
        <button class="btn btn-primary btn-block mt-4" type="submit">Resetuj</button>

    </form>

</div>
</body>
</html>